.form-control {
  height: 50px;
}
.input-icon-holder {
  position: relative;
  width: 100%;
  i {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
  }
}
.checkbox,
.radio {
  display: inline-block;
  position: relative;
  min-width: 22px;
  min-height: 22px;
  input {
    position: absolute;
    left: -9999px;
    &:disabled {
      + label {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .6;
      }
    }
  }
  label {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:before,
    &:after {
      content: "";
      position: absolute;
      transition: all .25s;
    }
    &:before {
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      background-color: #FFF;
      border: 2px solid #e5e5e5;
    }
  }
  &.has-text {
    display: flex;
    label {
      padding-left: 30px;
    }
  }
}
.checkbox {
  input {
    &:checked,
    &:disabled {
      + label {
        color: #ff3b32;
        &:before {
          border-color: #ff3b32;
        }
        &:after {
          transform: rotate(-45deg) scale(1);
        }
      }
    }
  }
  label {
    &:before,
    &:after {
      border-radius: $border-radius;
    }
    &:after {
      top: 8px;
      left: 7px;
      width: 6px;
      height: 3px;
      border-style: solid;
      border-color: #ff3b32;
      border-width: 0 0 2px 2px;
      transform: rotate(-45deg) scale(0);
    }
  }
}
.radio {
  input {
    position: absolute;
    left: -9999px;
    &:checked,
    &:disabled {
      + label {
        color: #ff3b32;
        &:before {
          border-color: #ff3b32;
        }
        &:after {
          transform: scale(1);
        }
      }
    }
  }
  label {
    &:before,
    &:after {
      border-radius: 50%;
    }
    &:after {
      top: 5px;
      left: 5px;
      width: 12px;
      height: 12px;
      background-color: #ff3b32;
      transform: scale(0);
    }
  }
}
.form-label {
  display: block;
  line-height: 1;
  margin: 0 0 10px;
}