.popover-wrapper {
    position: relative;
    width: fit-content;
    &:hover {
        .popover-content {
            z-index: 10;
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, 0);
        }
    }

    .popover-content {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, 8px);
        background-color: $dark-color;
        box-shadow: $box-shadow;
        width: auto;
        border-radius: $border-radius;
        transition: $transition;
        margin-top: 8px;
    }

    .popover-content:before {
        content: "";
        position: absolute;
        z-index: -1;
        right: calc(50% - 8px);
        top: -6px;
        border-style: solid;
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent $dark-color transparent;
        transition-duration: 0.3s;
        transition-property: transform;
    }
}