@require '~vuepress-plugin-tabs/dist/themes/default.styl'
/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.theme-default-content
    max-width: 940px!important
  
.sidebar-heading 
    position: relative !important;

.sidebar-heading .arrow 
    position: absolute!important;
    right: 15px!important;
    top: 50%!important;
    transform: translateY(-50%)!important;
