.footer {
  .footer-container {
    padding: 40px 0;
  }
  .footer-grid {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width: $ipad) {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .footer-item {
    flex: 1 0 0;
  }
  .footer-brand-image {
    display: flex;
    align-items: center;
    max-width: 170px;
    margin: 0 0 15px;
    @media (max-width: $ipad) {
      max-width: 120px;
    }
    img {
      @media (max-width: $ipad) {
        max-width: 120px !important; // we sould have a mobile sizes in the schema
      }
    }
  }
  .footer-item-title {
    margin: 0 0 10px;
    font-size: 15px;
    font-weight: 600;
  }
  .footer-link {
    a {
      display: block;
    }
    &:not(:last-child) {
      padding: 0 0 5px;
    }
  }
  .footer-newsletter {
    .form-group {
      display: grid;
      grid-gap: 10px;
    }
  }
  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 15px;
    p,
    a {
      color: #FFF;
    }
    p {
      margin: 0;
    }
  }
}